<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include('../partials/head.ejs') %>
<!-- Head-->
<body>
<!-- Header-->
<header class="header">
    <div class="hedear-crea-tu-cuenta"> 
        <div class="header-top-bar ">    
            <a href="/"><img  src="/imagenes/img-main/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"></a>
        </div>
  
        <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

        <nav class="header-bottom-bar"> 
            <ul class="nav-var">        
                <li><a href="#"> Ayuda |</a></li>
            </ul>     
        </nav>           
    </div>
</header>
<!-- Header-->

<!--Main-->

<main class="container main-login">
    <section class="w-100 h-100">

        <form action="/products/crear" method="post" enctype="multipart/form-data">
            <div class="row justify-content-center aling-items-center m-5 p-5">

                <div class="row  m-1  p-2">
                    <div class="col-md-6 col-sm-12 ">

                        <input type="text" class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %> " placeholder="Nombre:" aria-label="Nombre" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                        <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                                <%= errors.nombre.msg %>   
                        </div>
                        <% } %>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input type="number" class="form-control <%= locals.errors && errors.precio ? 'is-invalid' : null %>" placeholder="Precio del producto:" aria-label="Precio" name="precio" value="<%= locals.oldData ? oldData.precio : null %>">
                        <% if (locals.errors && errors.precio) { %>
                            <div class="text-danger">
                                 <%= errors.precio.msg %>   
                            </div>
                            <% } %>
                    </div>
                </div>

                <div class="row m-1 p-2">
                    <div class="col-md-6 col-sm-12 ">
                    <input type="text" class="form-control" placeholder="Descuento" aria-label="Descuento" name="descuento">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <select class="form-select" aria-label="Default select example" name="categoria">
                            <option selected>Categoría</option>
                            <option name="En oferta">En oferta</option>
                            <option name="Últimos Agregados">Últimos Agregados</option>
                          
                        </select>
                        
                    </div>
                </div> 
                <div class=" row m-1 p-2">
                    <div class="col-12">
                        <textarea class="form-control <%= locals.errors && errors.descripcion ? 'is-invalid' : null %> " placeholder="Descripción" name="descripcion"><%= locals.oldData ? oldData.descripcion : null %></textarea> 
                        <% if (locals.errors && errors.descripcion) { %>
                            <div class="text-danger">
                                    <%= errors.descripcion.msg %>   
                            </div>
                            <% } %>
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <input type="file" enctype="" class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %> " name="img">
                        <% if (locals.errors && errors.img) { %>
                            <div class="text-danger">
                                    <%= errors.img.msg %>   
                            </div>
                            <% } %>
                    </div>
                    <div class="col mt-2">
                        <button type="submit" class="submit-button col-12"> Enviar</button>
                        <button type="reset" class="detele-button col-12 mt-2">Resetear</button>
                    </div>
                </div>    
            </div>
        </form>
    </section>
</main>
<!--Main-->

<!--Footer-->
<%- include('../partials/footer.ejs') %>
<!--Footer-->
</body>
</html>