<!DOCTYPE html>
<html lang="en">
<!-- Head-->
<%- include('../partials/head.ejs') %>
<title>producto nuevo</title>
<!-- Head-->
<body>
<!-- Header-->
<header class="header">
    <div class="hedear-crea-tu-cuenta"> 
        <div class="header-top-bar ">    
            <a href="/"><img  src="/imagenes/img-main/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"></a>
        </div>
  
        <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

        <nav class="header-bottom-bar"> 
            <ul class="nav-var">        
                <li><a href="#"> Ayuda |</a></li>
            </ul>     
        </nav>           
    </div>
</header>
<!-- Header-->

<!--Main-->

<main class="container main-login">
    <section class="w-100 h-100">

        <form action="/products/crear" method="post" enctype="multipart/form-data" id="formulario">
            <div class="row justify-content-center aling-items-center m-5 p-5">

                <div class="row  m-1  p-2">
                    <div class="col-md-6 col-sm-12 ">

                        <input type="text" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %> " placeholder="Nombre:" aria-label="name" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>">
                        <span></span>
                        <% if (locals.errors && errors.name) { %>
                        <h5 class="text-danger">
                            <%= errors.name.msg %>   
                        </h5>
                        <% } %>

                    </div>

                    <div class="col-md-6 col-sm-12">
                        <input type="number" class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>" placeholder="Precio del producto:" name="price" id="price" value="<%= locals.oldData ? oldData.price : null %>">
                        <span></span>
                        <% if (locals.errors && errors.price) { %>
                            <h5 class="text-danger">
                                <%= errors.price.msg %>   
                            </h5>
                            <% } %>
                    </div>
                </div>

                <div class="row m-1 p-2">

                    <div class="col-md-6 col-sm-12 mb-4">
                        <input type="number" class="form-control" placeholder="Descuento"  name="discount" id="discount" value="<%= locals.oldData ? oldData.discount : null %>">
                        <span></span>
                    </div>

                    <div class="col-md-6 col-sm-12">

                        <select class="form-select  <%= locals.errors && errors.category ? 'is-invalid' : null %>" name="category" id="category">
                        
                        <option value="">Seleccione Categoría</option>
 
                         <% for (const element of category) { %> 
                         <option value="<%=element.id %>"><%= element.name %></option>           
                        <% } %> 
                        </select>
                        <span></span>
                        <% if (locals.errors && errors.category) { %>
                            <h5 class="text-danger">
                                <%= errors.category.msg %>   
                           </h5>
                        <% } %>
                        
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <select class="form-select  <%= locals.errors && errors.section ? 'is-invalid' : null %>" name="section" id="section">               

                        <option value="">Sección del producto</option>
                         <% for (const element of section) { %> 
                         <option value="<%= element.id%>"><%= element.name%></option>       
                        <% } %> 
                        </select>
                        <span></span>
                        <% if (locals.errors && errors.section) { %>
                            <h5 class="text-danger">
                                <%= errors.section.msg %>   
                           </h5>
                        <% } %>
                        
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <select class="form-select  <%= locals.errors && errors.brand ? 'is-invalid' : null %>" name="brand", id="brand">

                        <option value="">Seleccione Marca</option>
                         <% for (const element of brand) { %> 
                         <option value="<%=element.id%>"><%= element.name %></option>
                        
                        <% } %> 
                        </select>
                        <span></span>
                        <% if (locals.errors && errors.brand) { %>
                            <h5 class="text-danger">
                                <%= errors.brand.msg %>   
                           </h5>
                        <% } %>
                        
                    </div>


                </div> 
                <div class=" row m-1 p-2">
                    <div class="col-12 mb-2">
                        <textarea class="form-control <%= locals.errors && errors.description ? 'is-invalid' : null %> " placeholder="Descripción" name="description" id="description"><%= locals.oldData ? oldData.description : null %></textarea>
                        <span></span> 
                        <% if (locals.errors && errors.description) { %>
                            <h5 class="text-danger">
                                <%= errors.description.msg %>   
                            </h5>
                            <% } %>
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <input type="file" class="form-control <%= locals.errors && errors.img ? 'is-invalid' : null %> " name="img" id="img">
                        <span></span>
                        <% if (locals.errors && errors.img) { %>
                            <h5 class="text-danger">
                                <%= errors.img.msg %>   
                            </h5>
                            <% } %>
                    </div>
                    <div class="col mt-2">
                        <button type="submit" class="submit-button col-12"> Enviar</button>
                        <button type="reset" class="detele-button col-12 mt-2">Resetear</button>
                    </div>

                    <div class="col-sm-12 validatationIncomplete" id="formIncomplete" >
                        <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error: </b> Complete el formulario correctamente</p>
                    </div>

                </div>    
            </div>
           
        </form>
    </section>
</main>
<!--Main-->

<!--Footer-->
<%- include('../partials/footer.ejs') %>
<!--Footer-->
</body>
<script src="/js/validationForProducts.js"></script>
</html>