<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Ofertas</title>
    </head>
    <body>
        <header>
            <%- include('../partials/nav.ejs') %>  
            <%- include('../partials/header.ejs') %>
        </header>

        <main class="main-ofertas">
        <% for(const element of products) { %>
            <% if (element.category.id !== 1) { %>
                     
                        <div class="div-Ofertas">
                            <article class= " articulo-margin borde-producto">
                                <a href="/products/detalle/<%= element.id %>" class="links-Art">
                                    <div class="camion-con-foto">
                                        <img src="/imagenes/img-products/<%= element.img %>" alt="<%= element.name %>" class="resoluciones">
                                        <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck truck"></i></p>
                                        </div>
                                        <div class="contenedor-descripciones">
                                            <div class="row justify-content-center text-center">
                                            <p class="main-size col-12"><%= element.name %></p>       
                                            <span class= "col-12 fs-5 text-black-50 fs-bolder">uS$<%= element.price %> </span>
                                                        
                                            </div>        
                                        </div>
                                </a>
                            <button type="submit" class="submit-button col-12" id="buy-button" data-id=" <%= element.id %> "> COMPRAR </button>
                            </article>
                        </div>
                    <% } %>  
        <% } %> 
                
        </main>
        
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>   
    </body>
</html>