<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
   
   <title>Mercado Liebre</title>

<body>
    <%- include('./partials/nav.ejs') %>  
    <%- include('./partials/header.ejs') %>    
    <main class="main">
            <% for(let i = 0; i < products.length; i++) { %> 
                <% if (products[i].category.id !== 2) { %>
                    <div class="div-Ofertas">
                        <article class= " articulo-margin borde-producto">
                            <a href="/products/detalle/<%= products[i].id %>" class="links-Art">
                                <div class="camion-con-foto">
                                    <img src="/imagenes/img-products/<%= products[i].img %>" alt="<%= products[i].name %>" class="resoluciones">
                                    <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck truck"></i></p>
                                </div>
                                <div class="contenedor-descripciones">
                                    <div class="row justify-content-center text-center">
                                    <p class="main-size col-12"><%= products[i].name %></p>       
                                    <span class= "col-3 fs-5 text-black-50 fst-italic text-decoration-line-through">uS$<%= products[i].price %> </span>
                                    <span class="main-size col-6 iconos-main"><%= products[i].discount %>% off </span>                                                 
                                    </div>     
                                </div>
                            </a>
                        <button type="submit" class="submit-button col-12" id="buy-button" data-id= "<%= products[i].id %>" > COMPRAR </button>
                        </article>
                    </div>
                    <% } %> 
                <% } %> 
               
    </main>     
    <footer >
            <%- include('./partials/footer.ejs') %>
            <a href="#principio" class="link-arrow-home" ><i class="fa-solid fa-arrow-up-long" id="arrow"></i></a>
    </footer>       
</body>
</html>