<html>

    <head>
        <%- include('../partials/head.ejs') %>
        <title>edición de usuario</title>
    </head>
    <body>

        <header class="header">

            <div class="hedear-crea-tu-cuenta">   
                <div class="header-top-bar ">       
                    <a href="/"><img  src="/imagenes/img-main/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"></a> 
                </div>
  
                <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

                <nav class="header-bottom-bar">      
                    <ul class="nav-var">
                        <li><a href="#"> Ayuda |</a></li>
                        <% if (!locals.isLogged) { %>
                            <li><a href="/users/ingresa"> <i class="fas fa-sign-in-alt"></i> Ingresa |</a></li>
                        <% } %>
                    </ul>
                </nav> 
            </div>
  
        </header>

        <main class="main-login row">
            <section class="  section-crea-tu-cuenta container col-sm-12 col-md-6 col-lg-4">
                <article class=" formulario-crear-cuenta borde-fondo-2">
                    <form action="/users/form-editar-usuario/<%=usuario.id%>?_method=PUT" method="post" id="form" enctype="multipart/form-data">
                        <div class="col-sm-12">
                            <label for="nombre" class="form-label">Nombre completo</label>    
                            <input id="nombre" class="form-control" type="text" name="nombre" value="<%= locals.oldData && oldData.nombre ? oldData.nombre : usuario.username %>" >
                            <% if (locals.errors && errors.nombre) { %>
                                <div class="text-danger">
                                        <%= errors.nombre.msg %>   
                                </div>
                                <% } %>
                        </div>
                        <div class="col-sm-12">
                            <label for="email" class="form-label">Correo Electrónico</label>        
                            <input id="email" type="email" name="email" class="form-control" value="<%= locals.oldData && oldData.email ? oldData.email : usuario.email %>" >
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                        <%= errors.email.msg %>   
                                </div>
                                <% } %>
                        </div>
                        <div class="col-sm-12">
                            <label for="fecha" class="form-label" >Fecha de nacimiento:</label>
                            <input type="date" name="fechanacimiento" class="form-control" value="<%= locals.oldData ? oldData.fechanacimiento : usuario.birth_day %>">
                            <% if (locals.errors && errors.birth_day) { %>

                                <div class="text-danger">
                                        <%= errors.fechanacimiento.msg %>   
                                </div>
                                <% } %>
                        </div>
                        <div class="col-sm-12">
                            <label for="domicilio" for="form-label">Direccion:</label>    
                            <input id="domicilio" type="text" name="domicilio"  value="<%= locals.oldData && oldData.domicilio ? oldData.domicilio : usuario.address %>" class="form-control">

                            <% if (locals.errors && errors.domicilio) { %>
                                <div class="text-danger">
                                    <%= errors.domicilio.msg %>   
                                </div>
                                <% } %>
                        </div>
                     
                        <div class="col-sm-12">
                            <label for="fileform" class="form-label">Ávatar</label>
                            <input type="file" name="img" class=" form-control input-img-usuario" id="fileform">
                            <% if (locals.errors && errors.img) { %>
                                <div class="text-danger">
                                        <%= errors.img.msg %>   
                                </div>
                                <% } %>
                        </div>
                        <div class="col-sm-12">
                            <label for="inputPassword4" class="form-label">Contraseña</label>
                            <input type="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" id="inputPassword4" name="password">
          
                            <% if (locals.errors && errors.password) { %>
                              <h5 class = "text-danger">
                                  <%= errors.password.msg %> 
                              </h5>
                              <% } %>
                          </div>
                        <div>
                            <button type="reset" class="detele-button">Borrar</button>
                            <button type="submit" class="submit-button"> Enviar</button>
                        </div>
                    </form>
                </article>
            </section>
            
        </main>

        <footer class="mt-4">
            <%- include('../partials/footer.ejs') %>
        </footer>
        
    </body>

</html>