<html>
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>

        <header class="header">

            <div class="hedear-crea-tu-cuenta"> 
                <div class="header-top-bar ">    
                    <a href="/"><img  src="/imagenes/img-main/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"></a>
                </div>
          
                <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

                <nav class="header-bottom-bar"> 
                    <ul class="nav-var">        
                        <li><a href="#"> Ayuda |</a></li>
                    </ul>     
                </nav>           
            </div>
           
        </header>
    
        <main class="main-login">

            <section class="form-login">
                <article class="form-login-hijo borde-fondo-2 container">

                    <h2 class="titulo-login">Bienvenidos</h2>
                    <div class="row">
                        <div class="col-6"> </div>
                        <form action="/users/ingresa" method="post" class="col-12">
                            <div class="row justify-content-center aling-items-center">
                                <div class="div-form-hijo col-12">
                                    <input type="text" name="email" placeholder="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"  >
        
                                    <% if (locals.errors && errors.email) { %>
                                      <div class="text-danger">
                                            <%= errors.email.msg %>   
                                        </div>
                                    <% } %>
                                    
                                </div>
                                <div class="col-12">
                                    <input type="password" name="password" placeholder="Password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" >
                                    <% if (locals.errors && errors.password) { %>
                                        <div class="text-danger">
                                              <%= errors.password.msg %>   
                                          </div>
                                      <% } %>
                                </div>
                                <div class="col-12">
                                   <input type="submit" value="Login" class="div-form-hijo button-login-siging">
                                </div>
        
                                <div class="div-form-hijo col-12">
                                    <h5>¿No recordás la contraseña?</h5> <span><a href="#" class="link-login link-login-2">Recupera tu contraseña</a></span>
                                </div>
                                <div class="div-form-hijo col-12">
                                    <h5>¿No tenés cuenta?</h5><span><a href="/users/form-crear-usuario" class="link-login link-login-2">Registrate</a></span>
                                </div>
                                <div class="div-form-hijo col-12">
                                    <button class="button-login"><a href="https://myaccount.google.com/" class="link-login">REGISTRARME CON GOOGLE</a></button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                   
                </article>
            </section>
        </main>

        <footer >
            <%- include('../partials/footer.ejs') %>
        </footer>
        
    </body>
</html>