<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../partials/head.ejs') %>
        <title>misProductos</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>  
  
    <%- include('../partials/header.ejs') %>    
    <main class="main-ofertas">
        <% for(const element of products) { %>
        <% if (element.creator) { %>
         
            <div class="div-Ofertas">
                <a href="/products/detalle/<%= element.id %>" class="links-Art"><article class= " articulo-margin borde-producto">
                    <div class="camion-con-foto">
                        <img src="/imagenes/img-products/<%= element.img %>" alt="<%= element.name %>" class="resoluciones">
                        <p class="item-truck"><i class="fa-solid fa-truck-fast iconos-main-truck truck"></i></p>
                    </div>
            
                    <div class="contenedor-descripciones">
                        <% if (element.discount === 0) { %>
                            <div class= "row justify-content-center text-center">
                                <p class="main-size col-12"><%= element.name %></p>    
                                <p class="precios fw-bold col-12">uS$<%= element.price %></p>    
                            </div>
                            
                        <% }else { %>
                            <div class="row justify-content-center text-center">
                                <p class="main-size col-12"><%= element.name %></p>       
                                <span class= "col-3 fs-5 text-black-50 fst-italic text-decoration-line-through">uS$<%= element.price %> </span>
                                <span class="main-size col-6 iconos-main"><%= element.discount %>% off </span>
                                <p class="precios col-12 fw-bold">uS$<%= (((100-element.discount)*element.price) / 100) %></p>
                            </div>
                        <% } %> 
                         
                    </div>
                </article></a>
            </div>
        <% } %>  
        <% } %> 
    
</main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    
</body>
</html>