<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>profile</title>
</head>


<body>
  <header>
    <%- include('../partials/nav.ejs') %>
   </header>
   <main class="container mt-3 mb-3">
    <section>
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="/imagenes/img-users/<%= user.avatar %> " alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= user.username %> </h5>
            </div>
         
          
        </div>
      </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 mb-3">
                  <a href="/users/products" class="text-decoration-none"><button class="submit-button">Mis productos</button></a>
                </div>
                <div class="col-sm-2 mb-3">
                  <a href="/users/form-editar-usuario/<%= user.id %>"><button class="submit-button ">Editar</button></a>
                </div>
                <div class="col-sm-2 mb-3">
                  <form action="/users/delete/<%= user.id%>?_method=DELETE" method='POST'>
                    <a type="submit" class=" text-decoration-none"> <button class="submit-button text-wrap">Borrar</button></a>
                  </form>
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-sm-3">
                  <p class="mb-0">Nombre</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.username %> </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.email %> </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Fecha de nacimiento</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.birth_day %> </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Domicilio</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.address %> </p>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-header">
            Mis Pedidos
        </div>
        <div class="card-body">
            <table class="table table-responsive-md mb-0">
                <thead>
                    <tr>
                        <th style="width: 50px;">
                            <strong>#</strong>
                        </th>
                        <th class="th-lg">
                            <strong>Fecha</strong>
                        </th>
                        <th class="th-lg">
                            <strong>Envío</strong>
                        </th>
                        <th class="th-lg">
                            <strong>Pago</strong>
                        </th>
                        <th>
                            <strong>Total</strong>
                        </th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2022/06/04 10:00</td>
                        <td>Correo Argentino</td>
                        <td>Efectivo</td>
                        <td>$1220</td>
                        <td><button class="btn btn-warning btn-sm"><i class="fas fa-eye"></i></button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
   
    </div>
    </div>
  </section>
   </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>
</html>