<html>
    <head>
        <%- include('../partials/head.ejs') %>
        <title>login</title>
    </head>
    <body>

        <header class="header">

            <div class="hedear-crea-tu-cuenta"> 
                <div class="header-top-bar ">    
                    <a href="/"><img  src="/imagenes/img-main/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo"></a>
                </div>
          
                <button class="btn btn-outline-dark"><i class="fa-solid fa-bars"></i></button>

                <nav class="header-bottom-bar"> 
                    <ul class="nav-var">        
                        <li><a href="#"> Ayuda |</a></li>
                    </ul>     
                </nav>           
            </div>
           
        </header>
    
        <main class="main-login">

            <section class="form-login row">
                <article class="form-login-hijo borde-fondo-2 container col-sm-12 col-md-6 col-lg-4">

                    <h2 class="titulo-login">Bienvenido de nuevo</h2>
                    <div class="row">
                      
                        <form action="/users/recuperar-usuario" method="post" class="col-12" id ="formulario" >
                            <div class="row justify-content-center aling-items-center">
                                <div class="div-form-hijo col-12">
                                    <input type="text" name="email" id='email' placeholder="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"  >
                                    <span class='fs-6'></span>
                                    <% if (locals.errors && errors.email) { %>
                                        <div class="text-danger">
                                            <%= errors.email.msg %>   
                                        </div>
                                    <% } %>
                                    
                                </div>
                                <div class="col-12">
                                    <input type="password" name="password" id='password' placeholder="Password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" >
                                    <span class='fs-6'></span>
                                    <% if (locals.errors && errors.password) { %>
                                            <div class="text-danger">
                                              <%= errors.password.msg %>   
                                            </div>
                                      <% } %>
                                </div>
                                
                                <div class="col-12">
                                   <input type="submit" value="Recuperar" class="div-form-hijo button-login-siging">
                                </div>
                                
                                <div class="col-sm-12 validatationIncomplete" id="formIncomplete" >
                                    <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error: </b>Ingrese credenciales válidas</p>
                                </div>
                                
                                <div class="div-form-hijo col-12">
                                    <h5>¿No tenés cuenta?</h5><span><a href="/users/form-crear-usuario" class="link-login link-login-2">Registrate</a></span>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                   
                </article>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
        
        <script src="/js/validationLogin.js"></script>
    </body>
</html>